body {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 18px !important;
}
h1 {
  font-size: 36px !important;
  font-weight: 400 !important;
}
#heading {
  margin: 50px 0 20px 0;
}

#search-box, input {
/*  padding: 10px;*/
/*  border: 1px solid #eee;*/
/*  outline: 0;*/
/*  font-size: 15px;*/
  width: 600px !important;
  font-size: 14px;
}
.del {
  float: right;
  font-size: 8pt;
  color: #999;
}

#insertLinkForm input {
  border-radius: 0 !important;
}

#search-result {
  margin: 20px 0 100px 0;
}

#search-meta {
  font-size: 13px;
  color: #666;
  height: 15px;
}

.result {
  width: 600px;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.result .name {
  font-weight: 400;
}

.houston-delete-all {
  display: none;
}