body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input {
  border-radius: 0 !important;
}
h1 {
  font-weight: 400 !important;
}
a:hover {
  text-decoration: underline;
}
h1, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.add, a.searchlink {
  color: #21ba45 !important;
}
.hidden {
  display: none;
}
.searchRemove {
  pointer-events: inherit !important;
  cursor: pointer !important;
}
#heading {
  margin: 3em 0 1.5em 0;
}

#insertLinkForm input {
  border-radius: 0 !important;
}

#search-result {
  margin: 1em 0 3em 0;
}

.result {
  width: 100%;
  border-bottom: .08em solid #eee;
  padding: .7em 0;
}

.result .name {
  font-weight: 400;
}

.houston-delete-all {
  display: none;
}