body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input {
  border-radius: 0 !important;
}
h1 {
  font-weight: 400 !important;
}
a:hover {
  text-decoration: underline;
}
h1, h1.ui.header, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.green {
  color: #21ba45 !important;
}
a.orange {
  color: #f26202 !important;
}
.searchRemove {
  pointer-events: inherit !important;
  cursor: pointer !important;
}
#heading {
  margin-top: 1.7em;
}

@media only screen and (max-width: 768px) {
  #heading {
    margin-top: .7em;
  }
}

p.nav-links {
  margin-bottom: 1.5em;
}

#insertLinkForm input {
  border-radius: 0 !important;
}

#search-result {
  margin: 1em 0 3em 0;
}

.result {
  width: 100%;
  border-bottom: .08em solid #eee;
  padding: .7em 0;
}

.result .name {
  font-weight: 400;
}
